<div class="container" ng-controller="TaskController">

	<hr>

	<div class="form-group" id="rangedReports">
		<div>
			<div class="col-xs-2">
				<label>pid</label>
			</div>
			<div class="col-xs-2">
				<label>id</label>
			</div>
			<div class="col-xs-6">
				<label>text</label>
			</div>
			<div class="col-xs-2">
				<label>action</label>
			</div>
		</div>
		<div ng-repeat="task in model.tasksFromList | orderBy: 'id'"
			ng-submit="updateTask(task)" class="row">
			<form name="reportRowForm">
				<div class="col-xs-2 form-group">
					<span class="badge">{{task.project.id}}</span>
				</div>

				<div class="col-xs-2 form-group">{{task.id}}</div>

				<div class="col-xs-6 form-group">
					<input class="form-control" ng-model="task.name" type="text"
						value="{{task.name}}" ng-model-options="{debounce: 1000}"
						ng-change="updateTask(task)">
				</div>
				<div class="col-xs-2 form-group">
					<div class="btn-group btn-group-justified" role="group"
						aria-label="...">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default"
								ng-click="addTask()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default"
								ng-click="delTask(task.id)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
