<div class="container" ng-controller="ProjectController">

    <div>
        <h3>
            {{myService.projects.name}}
        </h3>

        <p>
            some additional project information
        </p>

        <p>
            # of subtasks: {{myService.projects.taskCount}}
        </p>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-danger btn-xs" ui-sref="project.newtask">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                new task
            </button>
            <button type="button" class="btn btn-warning btn-xs" ui-sref="dashboard">
                <span class="glyphicon glyphicon glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
                back to dashboard
            </button>
            <hr>
        </div>

    </div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"
         ng-repeat="task in myService.projects.tasks">

        <div class="pull-right btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="delTask({taskId: task.id}, $index)"><span
                    class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title" ui-sref="project.task({taskId: task.id})">
                    {{task.name}}
                </h3>
            </div>
            <div class="panel-body">some additional information</div>

            <div class="panel-body">
                subtask count: {{task.subTaskCount}}
            </div>

        </div>

    </div>

    <div ui-view></div>
</div>
